:root {
  --primary: #0d6efd;
  --secondary: #1d292f;

  --chart-color1: #fafafa;
  --chart-color2: #fff2e2;
  --chart-color3: #e7f5e8;
  --chart-color4: #f5f6f7;
  --chart-color5: #f1ebff;
  --chart-color6: #feedfa;
  --chart-color7: #f3f7f7;

  --purple-dark: #130c4f;
  --purple-light: #5e267d;
  --blue: #339feb;
  --purple: #6f3dc7;
  --pink: #ff6493;
  --light-pink: #f78f8f;
  --dark-pink: #d8407b;
  --green: #4ba84f;
  --grey: #827393;
  --footer: #151414;
  --white: #fff;
}
